* {
    background-color: black;
}

h1 {
    color: white;
}

ul {
    text-decoration: none !important;
}

li {
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    color: white;
}

.hero{
    color: aqua;
}

#text{
    color: bisque;
}