* {
    background-color: black;
}

h1 {
    color: aqua !important;
}

li {
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    color: white;
}

.hero {
    color: aqua;
}

#text {
    color: bisque;
}

h1 {
    color: darkmagenta;
}